.logo {
    width: 4%;
    padding: 10px;
    height: auto;
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */

}

#self {
	width: 100%;
	height: auto;
}

#self-desc {
	font-size: 70px; 

}

#gallary-image {
    max-height: 350px;
}

.box {
    width: 50px;
    height: 3px;
    background: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    position: relative;
    top: -354px;
}