.logo {
    width: 4%;
    padding: 10px;
    height: auto;
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */

}

#self {
	width: 100%;
	height: auto;
}

#self-desc {
	font-size: 70px; 

}

#main {
    padding-top: 30px;
}

#port {
    margin-top: 30px;
}

#benlang {
    margin-top: 30px;
}

.first-para {
    margin-top: 10px;
}